Repository Marcus-Rise/My-Site: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, lint, audit

install:
  stage: install
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: push
  script:
  - npm ci

lint:
  stage: analize
  dependencies:
  - install
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: pull
  script:
  - npm run lint

audit:
  stage: analize
  dependencies:
  - install
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: pull
  script:
  - npm audit
  allow_failure: true

ci(.gitlab-ci.yml): fix
  .gitlab-ci.yml
Due: none

chore: npm audit fix
  package-lock.json
Due: install, audit

chore: npm upgrade
  package-lock.json
  package.json
Due: install, audit

chore: remove package
  package-lock.json
  package.json
Due: install, audit

ci(.gitlab-ci.yml): remove stage
  .gitlab-ci.yml
Due: none

feat(SkillsChips.tsx): new array
  src/SkillsChips.tsx
Due: lint

feat: new status
  pages/index.tsx
Due: none

feat(LinkIcon.tsx)
  .eslintrc.js
  src/LinkIcon.tsx
  src/LinksIcons.tsx
Due: lint

fix(LinksIcons.tsx): add key attribute
  src/LinksIcons.tsx
Due: lint

feat(SkillsChips.tsx): add skills
  src/SkillsChips.tsx
Due: lint

feat(seo.ts)
  pages/_app.js
  pages/_document.js
  pages/seo.ts
Due: none

chore
  package-lock.json
  package.json
Due: install, audit

fix
  pages/_app.js
  pages/_document.js
  src/seo.ts
Due: lint

feat(LinksIcons.tsx)
  src/LinksIcons.tsx
Due: lint

feat(twitter.png)
  public/twitter.png
Due: none

ci: new process
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
Due: none

refactor
  .dockerignore
  .eslintrc.js
  .gitignore
  .prettierrc.js
  .run/dev.run.xml
  Dockerfile
  docker-compose.yml
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  src/Avatar.tsx
  src/LinkIcon.tsx
  src/LinksIcons.tsx
  src/SkillsChips.tsx
  src/theme.ts
Due: install, lint, audit

refactor
  .gitlab-ci.yml
Due: none

feat: amp
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  src/Avatar.tsx
  src/LinkIcon.tsx
  src/LinksIcons.tsx
Due: lint

chore
  next.config.js
Due: none

chore
  package-lock.json
  package.json
  src/Avatar.tsx
Due: install, lint, audit

feat(seo.ts)
  src/seo.ts
Due: lint

feat(seo.ts): add PWA keyword
  src/seo.ts
Due: lint

feat(seo.ts): add Nginx keyword
  src/seo.ts
Due: lint

feat(seo.ts): add Docker keyword
  src/seo.ts
Due: lint

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Update docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Create README.md
  README.md
Due: none

feat(skills.array.ts)
  src/skills.array.ts
Due: lint

refactor(SkillsChips.tsx)
  src/SkillsChips.tsx
Due: lint

refactor(LinksIcons.tsx)
  src/LinksIcons.tsx
Due: lint

refactor(LinksIcons.tsx): change links order
  src/LinksIcons.tsx
Due: lint

fix(LinksIcons.tsx): change size
  src/LinksIcons.tsx
Due: lint

refactor
  pages/index.tsx
  src/Avatar.tsx
  src/LinkIcon.tsx
  src/LinksIcons.tsx
  src/ProfileCard.tsx
  src/SkillsChips.tsx
  src/seo.ts
  src/social-links.array.ts
Due: lint

fix(amp): image config
  src/@types/amp.d.ts
  src/Avatar.tsx
  src/LinkIcon.tsx
Due: lint

refactor(seo)
  pages/index.tsx
  src/seo.ts
Due: lint

refactor: page props
  pages/index.tsx
Due: none

Path conditions:
  install: any of: package-lock.json
  lint: any of: src/**/*
  audit: any of: package-lock.json
